section.reservation-result-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmation-container {
    background: rgb(210, 210, 210);
    padding: 20px;
    border-radius: 20px;
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
/*header*/
.confirmation-header h2{
    text-align: center;
    font-size: 30px;
}

.confirmation-header span{
    color: rgb(185, 134, 41);
}
.confirmation-container h1 {
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}

.confirmation-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 50%;
    background: #c5c4c4;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
}

.value-confirmation p{
    display: flex;
    justify-content: space-between;
}



.confirmation-text p {
    font-weight: bold;
    color:rgb(185, 134, 41);
}

.confirmation-text span {
    font-weight: normal;
    color: rgb(82, 82, 156);
}

/*btns*/
/*reservation-confirmation*/

.header-box_btn.deals-link.return-secondary-btn {
    background-color: rgb(104, 128, 168);
}

.header-box_btn.deals-link.return-secondary-btn:hover {
    background-color: rgb(33, 63, 116);
}


/*edit/delete btns*/

/*edit*/
.header-box_btn.deals-link.return-secondary-btn.secondary-edit-btn {
    background-color: green;
}
.header-box_btn.deals-link.return-secondary-btn.secondary-edit-btn:hover {
    background-color: rgb(29, 203, 29);
}
/*delete*/
.header-box_btn.deals-link.return-secondary-btn.secondary-delete-btn {
    background-color: rgb(142, 23, 23);
    border: none;
}
.header-box_btn.deals-link.return-secondary-btn.secondary-delete-btn:hover {
    background-color: red;
}



